<a href="/home">HOME</a>

<h1>PLAYER</h1>

<br><br><br>
<input style="display: none" id="playlist-id" value="{{id}}">
<input type="button" value="PLAY" onclick="play()">
<br><br>
{{#each track}}
    <audio style="display: none" class="audio" controls>
        <source src="{{this.previewURL}}" type="audio/mpeg">
    </audio>
{{/each}}

<form action="/playlist/create" method="POST">
    <label for="">Give a name to the playlist</label>
    <input type="text" name="playlistName">
    <button type="submit">Create</button>
</form>

{{#each track}}
    <h4>{{this.name}}</h4>
    {{!-- <input type="button" value="PLAY" onclick="playAudio()"> --}}
    {{!-- <audio class="audio" controls>
        <source src="{{this.previewURL}}" type="audio/mpeg">
    </audio> --}}
    {{#if ../userHasPlaylists}}
        <form action="/playlist/add/{{this.id}}" method = "POST">
            <select name="playlist">
                {{#each ../userInfo.playlists}}
                    <option value="{{this.id}}">{{this.playlistName}}</option>
                {{/each}}
            </select>
            <button type="submit">Add to playlist</button>
        </form>
    {{/if}}
{{/each}}

<a href="/playlist">Playlist</a>

<script src="/javascripts/playerScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>