<div id="background-image-player">
    
      <div class="player-body">
        <div id="home-button-div">
            <a href="/home" class="btn">
                <img src="/images/homelink.png" class="profile-button" alt="HOME">
            </a>
        </div>

        <h1 id="h1-player" style="font-size: 50px">PLAYER</h1>

      
        {{#each track}}
        <h1>{{this.name}}</h1>
        {{!-- <input type="button" value="PLAY" onclick="playAudio()"> --}}
        <audio class="audio" controls>
            <source src="{{this.previewURL}}" type="audio/mpeg">
        </audio>
        {{#if ../userHasPlaylists}}
        <form action="/playlist/add/{{this.id}}" method="POST">
            <select name="playlist">
                {{#each ../userInfo.playlists}}
                <option value="{{this.id}}">{{this.playlistName}}</option>
                {{/each}}
            </select>
            <button class="create-playlist" type="submit">Add to playlist</button>
        </form>
        {{/if}}
        <form action="/playlist/create" method="POST">
            <label class="create" for="">Give a name to the playlist</label>
            <input type="text" name="playlistName">

            <button class="create-playlist" type="submit">Create</button>
        </form>
        {{/each}}

        <a href="/playlist">Playlist</a>

        <script src="/javascripts/playerScript.js"></script>
    </div>
</div>